
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width:100vh; */
    height: 760px; 
}

.container{
    width:1100px;
    height: 750px;
    background-color:#C7AFE3;
    display:inline-flex;
    position: relative;
    left: 50px;
    border-radius: 10px;
	box-shadow: #C7AFE3 6px 3px 0px 11px;
}
.border_top{
    width:1100px;
    height: 30px;
    background-color:#C7AFE3;
    position: absolute;
    top:-10px;
    left: 0px;
    border-radius: 10px;

}
.border_left{
    width:50px;
    height: 760px;
    background-color:#C7AFE3;
    position: absolute;
    top:-10px;
    left: 0px;
    border-radius: 10px;

}

.menu{
    width: 200px;
    height: 710px;
    top: 20px;
    background-color:#F4C9D0;
    left: 880px;
    position: absolute;
    border-radius: 10px;
    box-shadow: #f4b4bf 6px 3px 0px 5px;
	border: #e0f558 4px dashed;
}
.menu_btn{
    width: 180px;
    height: 50px;
    text-align: center;
    font-family: Arial;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 15px;
	border: 3px #c2a100 solid;
	padding: 16px 33px;
    background: linear-gradient(180deg, #FAD104 9%, #FAD104 100%);

	text-shadow: 1px 1px 1px #528ecc;
	box-shadow: inset 4px -6px 0px 0px #90c2f0;
	cursor: pointer;
    position: absolute;
    top:50px;
    left: 10px;
}

.menu_btn:hover{
    background: linear-gradient(180deg, #c0a0e5 9%,#c0a0e5 100%);  
}

.jumping{
    top:150px;
}
.minegame{
    top:250px;
}
.calculation{
    top:350px;
}
#game-container {
    width: 800px;
    height: 730px;
    background-color:#F6D9ED;
    left:50px; 
    position: absolute;
    /* background-size: cover; */ 
}


#gameover {
    width: 800px;
    height: 700px;    
    position: absolute;
    background-color: rgba(244, 85, 199, 0.613);
    left:50px; 
    top:18px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
#gameover_box{
    width: 300px;
    height: 300px;
    background-color:hotpink;
    box-shadow: #ffe14a 0px -20px 2px 37px;
    border-radius: 13px;
}
#gameOverscore{
    text-align: center;
    margin-top:40px;
    font-size: 30px;
    color: #f6b79b;
    font-family: Arial Black, Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(207, 144, 116),
        -1px 1px 0 rgb(169, 106, 78),
        -2px 2px 0 rgb(130, 67, 39),
        -3px 3px 0 rgb(91, 28, 0),
        -4px 4px 3px rgba(99, 30, 0, 0.54),
        -4px 4px 1px rgba(99, 30, 0, 0.5),
        0px 0px 3px rgba(99, 30, 0, .2);

}
.playagain{
    text-align: center;
    font-size: 21px;
    color: #f6b79b;
    font-family: Arial Black, Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(207, 144, 116),
        -1px 1px 0 rgb(169, 106, 78),
        -2px 2px 0 rgb(130, 67, 39),
        -3px 3px 0 rgb(91, 28, 0),
        -4px 4px 3px rgba(99, 30, 0, 0.54),
        -4px 4px 1px rgba(99, 30, 0, 0.5),
        0px 0px 3px rgba(99, 30, 0, .2);
    border-radius: 15px;
    border: 2px #fa1fb4 solid;
    padding: 11px 18px;
    background: linear-gradient(180deg,#ff5ed4 5%, #e129b0 100%);
    box-shadow: inset 8px -9px 2px -3px #e129b0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 400px;
    left: 330px;
}

.playagain:hover{
    background: linear-gradient(180deg, #EC7D6A 5%, #EC7D6A 100%);
    
}

.octopus{
    width: 80px;
    position: absolute;
    top: 130px;
    left: 200px;
}
.flowerbear{
    width: 80px;
    position: absolute;
    top: 3px;
    left: 10px;
}

.sun{
    width: 60px;
    position: absolute;
    top: -5px;
    right: 0px;
}
.flowerfrog{
    width: 150px;
    position: absolute;
    bottom: -15px;
    left:30px;
}
#turn{
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    color: #84a366;
    font-weight: 700;
    text-shadow: 0px 2px rgb(120, 120, 0);

}
.board{
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: #fddc38;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(22, 19, 0, 0.13);

}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.circle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 30px;
    padding: 4px;
    transition: all 1s;
}
#winner{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

.a{
    width: 50px;
    height: 20px;
    background-color: aquamarine;
}
/* .pig{
    width: 80px;
    position: absolute;
    top: 130px;
    left: 200px;
} */
/* .flowerfrog{
    width: 150px;
    position: absolute;
    bottom: 45px;
    right: -150px;
} */
